<tr data-item-id="<%= f.object.id %>" class="extra fields">
  <td>
    <%= f.select :prefix, [['Discount', 'discount'], ['Extra cost', 'cost']], {:default => 'Discount'}, { :class => 'form-control' } %>
  </td>
  <td>
    <%= f.text_field :name, placeholder: "Extras", class: "form-control" %>
  </td>
  <td>
    <div class="form-inline">
      <%= f.text_field :extra_value, placeholder: "Value", class: "form-control" %>
      <%= f.select :method, [['Value', 'value'], ['Percentage', 'percentage']], {:default => 'value'}, { :class => 'form-control' } %>
    </div>
  </td>
  <td> 
    <%= f.text_field :amount, placeholder: "Amount", class: "form-control" %>
    <%= f.hidden_field :row_order, class: "extra_val" %>
  </td>
  <td>
    <%= f.link_to_remove "Remove" %>
  </td>
</tr>


