<tr class='fields'>
  <td>
    <%= f.select :prefix, [['Discount', '1'], ['Extra cost', '0']], {:selected => 'Discount'}, { :class => 'form-control' } %>
  </td>
  <td>
    <%= f.text_field :name, placeholder: "Extras", class: "form-control" %>
  </td>
  <td>
    <%= f.select :method, [['Value', '1'], ['Percentage', '0']], {:selected => 'Value'}, { :class => 'form-control' } %>
  </td>
  <td>
    <%= f.text_field :amount, placeholder: "Amount", class: "form-control" %>
  </td>
  <td>
    <%= f.link_to_remove "Remove" %>
  </td>
</tr>