<tr class='fields'>
  <td>
    <%= f.text_field :item, placeholder: "Product Name", class: "form-control" %>
  </td>
  <td>
    <%= f.text_field :quantity, placeholder: "Quantity", class: "form-control" %>
  </td>
  <td>
    <%= f.text_field :unit_price, placeholder: "Unit Price", class: "form-control" %>
  </td>
  <td>
    <%= f.text_field :amount, :disabled => true, placeholder: "Amount", class: "form-control" %>
  </td>
  <td>
    <%= f.link_to_remove "Remove" %>
  </td>
</tr>