<tr>
  <td class="center"><%= f.text_field :item %></td>
  <td class="center"><%= f.text_field :quantity %></td>
  <td class="center"><%= f.text_field :unit_price %></td>
  <td class="center"></td> 
  <td class="center"> 
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy, "Delete" %>
  </td>
</tr>
