<tr class='fields'>
  <td>
    <%= f.text_field :date,data: { provide: 'datepicker' }, placeholder: "Payment Date", class: "form-control" %>
  </td>
  <td>
    <%= f.text_field :description, placeholder: "Description", class: "form-control" %>
  </td>
  <td>
    <%= f.select :payment_method, [['Cash', 'Cash'], ['Cheque', 'Cheque'], ['Credit Card', 'Credit Card']], include_blank: 'Please select' %>
  </td>
  <td>
    <%= f.text_field :amount, placeholder: "Amount", class: "form-control" %>
  </td>
  <td>
    <%= f.link_to_remove "Remove" %>
  </td>
</tr>