<tr data-item-id="<%= f.object.id %>" class="extra fields">
  <td></td>
  <td></td>
  <td class="right">
    <h5>VAT</h5>
  </td>
  <td class="right">
    <h5><%= f.object.amount %>%</h5>
  </td>
  <td>
    <%= f.hidden_field :prefix, value: 0 %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :method, value: 0 %>
    <%= f.hidden_field :amount %>
    <%= f.hidden_field :row_order, class: "extra_val" %>
  </td>
</tr>