<div class="box">
  <h1>Edit invoice</h1>
  <ol class="breadcrumb">
    <li><%= link_to 'Index', root_path %></li>
    <li><%= link_to 'Details', invoice_path(@invoice.id) %></li>
    <li class="active">Edit</li>
  </ol>

<%= form_for @invoice do |form| %>
  <fieldset class="fields">
    <div class="field">
      <%= form.label "Invoice number" %>
      <%= form.text_field :number ,:disabled => true%>
    </div>
    
    <div class="field">
      <%= form.label "issue date"  %>
      <%= form.date_select(:issue_date) %> 
    </div>
    <div class="field">
      <%= form.label "due date"  %>
      <%= form.date_select(:due_date) %>  
    </div>
    <div class="field">
      <%= form.label "total"  %>
      <%= form.text_field :total %>
    </div>
      <%= form.submit "Update" %>    
 </fieldset>
<% end %>

</div>





