<div class="container-fluid">
<h1>Add new invoice</h1>
  <ol class="breadcrumb">
    <li><%= link_to 'Index', root_path %></li>
    <li class="active">New</li>
  </ol>

<div class="panel panel-default">
<div class="box">
  <%= form_for @invoice do |f| %>  
    <% f.fields_for :line_items do |builder| %>
    <fieldset class="fields">
      <div class="field">
        <%= f.label "Invoice number" %>
        <%= f.text_field :number %>
      </div>
      
      <div class="field">
        <%= f.label "issue date"  %>
        <%= f.date_select(:issue_date) %> 
      </div>
      <div class="field">
        <%= f.label "due date"  %>
        <%= f.date_select(:due_date) %>  
      </div>
      <div class="field">
        <%= f.label "total"  %>
        <%= f.text_field :total %>
      </div>
 

</div>
    <table class="table table-striped" style="wrap-table">
      <thead>
        <tr>
          <th class="center">DESCRIPTION</th>
          <th class="center">QUANTITY</th>
          <th class="center">UNIT PRICE</th>
          <th class="center">AMOUNT</th>
          <th></th>
        </tr>

        <tr>
          <td class="center"><%= builder.text_field :item %></td>
          <td class="center"><%= builder.text_field :quantity %></td>
          <td class="center"><%= builder.text_field :unit_price %></td>
          <td class="center"><%= builder.text_field :amount %></td> 
        </tr>


        <tr>
          <td></td>
          <td></td>
          <td class="right"><h4>Sub Total</h4></td>
          <td class="right"><h4><%= @invoice.total%> Baht</h4></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="right"><h4>VAT 7%</h4></td>
          <td class="right"><h4> Baht</h4></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="right"><h4>Total</h4></td>
          <td class="right"><h4> Baht</h4></td>
        </tr>
      </thead>
    </table>
    <% end %> 
    <%= f.submit "Add new invoice" %> 
  <% end %>
</div>


  <br /><br /><br />
  <%= link_to 'Back to index', root_path %>



 
