<div class="wrapper">
  <div class="container" style="padding-top: 20px">
    <ol class="breadcrumb">
      <li><%= link_to 'Customers', customers_path %></li>
      <li><%= link_to @customer.firstname , customer_path(@customer.id) %></li>
      <li class="active"><%= @invoice.number %></li>
    </ol>
    <div class="right" style="margin-left: 100px">
      <address>
        <%= link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, edit_customer_invoice_path(@customer, @invoice), class: "btn btn-primary btn-primary" %>
        <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, customer_invoice_path(@customer, @invoice), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary btn-danger" %>
      </address>
    </div>
    <div class="panel panel-default">
      <div class="row">
        <div class="col-xs-12">
          <div class="rightBox">
            <address>
              <h4 class="gray">No.<%= @invoice.number %></h4>
            </address>
          </div>
          <div style="margin-left: 50px">
            <%= image_tag attachment_url(current_user, :logo_image, :fill, 150, 150, format: "jpg") %>
          </div>
          <div class="col-xs-6">
            <address class="box">
              <br><h5><%= current_user.first_name %> <%= current_user.last_name %></h5>
              <h5><%= @current_user.address %></h5>
              <h5><%= current_user.email %></h5>
            </address>
          </div>
          <div class="col-xs-6 text-right">
            <div class="rightBox">
              <address class="box">
                <h4>Billed To:</h4>
                <%= @customer.firstname %> <%= @customer.lastname %><br>
                <%= @customer.address %><br>
                <%= @customer.phone_number %><br>
                <%= @customer.email %>
              </address>
              <strong>Issue Date : </strong>
              <%= @invoice.issue_date.strftime("%B %d, %Y") %><br>
              <strong>Due Date :</strong>
              <%= @invoice.due_date.strftime("%B %d, %Y") %><br><br>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-striped" style="wrap-table">
        <thead>
          <tr>
            <th class="center">DESCRIPTION</th>
            <th class="center">QUANTITY</th>
            <th class="center">UNIT PRICE</th>
            <th class="center">AMOUNT</th>
          </tr>
        </thead>
        <% for line_item in @invoice.line_items %>
        <tr>
          <td class="center"><%= line_item.item %></td>
          <td class="center"><%= line_item.quantity %></td>
          <td class="center"><%= line_item.unit_price %></td>
          <td class="center"><%= line_item.amount %></td>
        </tr>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td class="right"><h5>Sub Total</h5></td>
          <td ><h5><%= @invoice.total.round(2) %> Baht</h5></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="right"><h5>VAT <span class="vat-value"><%= current_user.vat %></span>%</h5></td>
          <td ><h5><%= vat = (@invoice.total * current_user.vat).round(2) %> Baht</h5></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="right"><h5>Total</h5></td>
          <td ><h5><%= @invoice.total + vat %> Baht</h5></td>
        </tr>
      </table>
    </div>
    <br />
    <div class="panel panel-default">
      <address class="box">
        <br><h4>Payment Information:</h4>
      </address>
      <table class="table table-striped" style="wrap-table">
        <thead>
          <tr>
            <th class="center">Date</th>
            <th class="center">Description</th>
            <th class="center">Payment Method</th>
            <th class="center">Amount</th>
          </tr>
          <% for payment in @invoice.payments %>
        </thead>
        <tr>
          <td class="center"><%= payment.date.strftime("%B %d, %Y") %></td>
          <td class="center"><%= payment.description %></td>
          <td class="center"><%= payment.payment_method %></td>
          <td class="center"><%= payment.amount %></td>
        </tr>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td class="right"><h5>Total Paid</h5></td>
          <td ><h5><%= @invoice.total_paid %> Baht</h5></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="right"><h5>Balance</h5></td>
          <td ><h5><%= @invoice.balance %> Baht</h5></td>
        </tr>
      </table>
    </div>
    <div class="row">
      <h4 align="center"><%= link_to 'Back to index', customer_path(@customer.id) %></h4><br><br>
    </div>
  </div>