<div class="box">
  <ol class="breadcrumb">
    <li><%= link_to 'Index', root_path %></li>
    <li class="active">Details</li>
  </ol>


  <h1> Details of invoice : <%= @invoice.number %> </h1>

  <br />
  <table style="width:80%">
    <thead>
      <tr>
        <th>number</th>
        <th>issue date</th>
        <th>due date</th>
        <th>Total</th>
      </tr>
    </thead>


  <tr>
    <td><%= @invoice.number %></td>
    <td><%= @invoice.issue_date.to_date %></td>
    <td><%= @invoice.due_date.to_date %></td>
    <td><%= @invoice.total %></td>
    <td><%= link_to 'Edit', edit_invoice_path(@invoice.id) %></td>
    <td><%= link_to 'Delete', invoice, method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>
  </table>

  <br />
  <%= link_to 'Back to index', root_path %>

</div>




