<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <h3 class="modal-title" id="lineModalLabel">Edit <%= @customer.firstname %></h3>
    </div>
    <div class="modal-body">
      <%= form_for @customer do |f| %>
        <div class="form-group">
          <label for="exampleInputEmail1">First name</label>
          <%= f.text_field :firstname, class: "form-control", placeholder: "First name" %>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Last name</label>
          <%= f.text_field :lastname, class: "form-control", placeholder: "Last name" %>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Address</label>
          <%= f.text_field :address, class: "form-control", placeholder: "Address" %>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Telephone</label>
          <%= f.text_field :phone_number, class: "form-control", placeholder: "Telephone" %>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Fax</label>
          <%= f.text_field :fax, class: "form-control", placeholder: "Fax" %>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
        </div>
        <button type="submit" class="btn btn-custom btn-lg center-block" >Submit</button>
      <% end %>
    </div>
  </div>
</div>