<div class="box">
<div class="container">
    <div class="row">
                <form class="form-horizontal">
                      <legend class="text-center header">Customer information</legend>
                      <div class="col-md-4"><img src="..." alt="..." class="img-rounded"></div>  

                </form>

    </div>
</div>



                        <%= form_for @customer do |f| %> 
                          <br />
                          <%= f.text_field :firstname ,:class => "form-control input-lg", :placeholder => "Firstname"  %>
                          <br />
                          <%= f.text_field :lastname ,:class => "form-control input-lg", :placeholder => "Lastname"  %>
                          <br />
                          <%= f.text_field :email ,:class => "form-control input-lg", :placeholder => "Email"  %>
                          <br />                          
                          <%= f.text_field :phone_number ,:class => "form-control input-lg", :placeholder => "Phone number"  %>
                          <br />
                          <%= f.text_field :fax ,:class => "form-control input-lg", :placeholder => "Fax number"  %>
                          <br />  
                          <%= f.text_field :address ,:class => "form-control input-lg", :placeholder => "Address"  %>
                          <br />
                          <%= f.submit "Submit" , :class => "btn btn-primary btn-lg center-block " %>  
                        <% end %> 
</div>

<style>
    .header {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }

</style>