<div class="right" style="margin-left: 100px">
  <address>
    <%= link_to edit_customer_path(@customer), class: "btn btn-primary btn-primary" do %>
    <span class='glyphicon glyphicon-edit'></span>
    <% end %>
    <%= link_to @customer, method: :delete, data: { confirm: "Are you sure?" },remote: true, class: "btn btn-primary btn-danger" do %>
    <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </address>
</div>
<%= form_for @customer do |f| %>
<div class="panel panel-default col-md-4 col-md-push-4">
  <div class="panel-body text-center">
    <h3><span class="glyphicon glyphicon-user"></span>
    <%= f.text_field :firstname ,:class => "form-control input-lg", :placeholder => "Firstname"  %>
    <%= f.text_field :lastname ,:class => "form-control input-lg", :placeholder => "Lastname"  %>
    </h3>
    <label for="address">
      <h4>
      <span class="glyphicon glyphicon-home"></span>
      Address</h4>
    </label>
    <address>
      <%= f.text_area :address ,:class => "form-control input-lg", :placeholder => "Address"  %>
    </address>
    <label for="phone_number">
      <span class="glyphicon glyphicon-phone-alt space"></span>
    </label>
    <%= f.text_field :phone_number ,:class => "form-control input-lg", :placeholder => "Phone number"  %>
    <label for="fax">Fax.</label>
    <%= f.text_field :fax ,:class => "form-control input-lg", :placeholder => "Fax number"  %>
    <label for="email"><span class="glyphicon glyphicon-envelope space"></span></label>
    <%= f.text_field :email ,:class => "form-control input-lg", :placeholder => "Email"  %>
  </div>
</div>
<% end %>
