<div class="box">
  <div class="row">
    <div class="col-md-8">
      <div class='container'>
        <h1>Customer List</h1>
      </div>
    </div>
    <div class="col-md-4">
      <div class='container'>
        <%= form_tag customers_path, class: 'navbar-form navbar-left', role: 'search', method: :get do |f| %>
        <div class='form-group'>
          <%= text_field_tag :q, params[:q], class: 'form-control' %>
        </div>
        <%= button_tag "Search", class: 'btn btn-default', name: nil %>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search by <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Name</a></li>
            <li><a href="#">Phone number</a></li>
            <li><a href="#">Email</a></li>
          </ul>
        </li>
      </div>
    </div>
  </div>
  <div class="row">
    <ol class="breadcrumb">
      <li><%= link_to 'Customer', customers_path %></li>
      <li><%= link_to 'Index', customers_path %></li>
    </ol>
  </div>
  <div class="panel panel-default">
    <table class="table table-striped">
      <thead>
        <tr >
          <th>Name</th>
          <th>Lastname</th>
          <th>Tel.</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <% @customers.each do |customer| %>
      <%= render customer %>
      <% end %>
    </table>
  </div>
</div>
<div class="smallbox">
  <div class="center">
    <div class="btn-group">
      <%= link_to "Add new customer", new_customer_path, :class => "btn btn-primary btn-lg"%>
    </div>
  </div>
</div>
