<div class="container-fluid">
  <h1>Edit customer information</h1>
  <ol class="breadcrumb">
    <li>Customer</li>
    <li><%= link_to 'Index', customers_path %></li>
    <li class="active">Details</li>    
  </ol>

  <div class="row">
      <div class="col-md-8">
      </div>
      <div class="col-md-4">
        <h3 class="right"><%= link_to 'Edit', edit_customer_path(@customer.id) %> |
        <%= link_to 'Delete', @customer, method: :delete, data: { confirm: "Are you sure?" } %></h3>
      </div>
  </div>
  <div class="container">
      <div class="row">
              <div>
                  <div class="panel panel-default">
                      <div class="text-center header"><h2>Customer details</h2></div><hr />

                      <div class="panel-body text-center">
                          Picture
                        <hr />
                        <h3><%= @customer.firstname %> <%= @customer.lastname %></h3>
                        <div><hr />
                        <label for="address"><h4><u>Address</u></h4></label>
                        <address>
                          <%= @customer.address %>
                        </address>
                        </div>
                        <label for="phone_number">Tel.</label><%= @customer.phone_number %>
                        <label for="fax">Fax.</label><%= @customer.fax %><hr />
                        <label for="email">Email:</label><%= @customer.email %>
                      </div>
                  </div>
              </div>
      </div>
  </div>
</div>