<div class='container'>
  <br />
    <ol class="breadcrumb">
      <li><%= link_to 'Customer', customers_path %></li>
      <li><%= link_to 'Index', customers_path %></li>
      <li class="active">Details</li>
    </ol>
    <%= render 'customers/customer/show', customer: @customer %>
    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr >
            <th>Invoice</th>
            <th>issue date</th>
            <th>due date</th>
            <th>Total</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% @customer.invoices.each do |invoice| %>
        <tr >
          <td><%= invoice.number %></td>
          <td><%= invoice.issue_date.strftime("%B %d, %Y") %></td>
          <td><%= invoice.due_date.strftime("%B %d, %Y") %></td>
          <td><%= invoice.total %></td>
          <td>
            <div style="margin : auto; text-align: center">
              <%= link_to 'Show', customer_invoice_path(@customer,invoice), class: "btn btn-info btn-xs" %>
              <%= link_to 'Edit', edit_customer_invoice_path(@customer, invoice), class: "btn btn-default btn-xs" %>
              <%= link_to 'Delete', customer_invoice_path(@customer, invoice), class: "btn btn-danger btn-xs", method: :delete, data: { confirm: "Are you sure?" } %>
            </div>
          </td>
          <td>
            <div style="margin : auto; text-align: center">
              <%= link_to edit_customer_invoice_path(@customer, invoice), class: "btn btn-success btn-xs" do %>
              <span class="glyphicon glyphicon-plus-sign"></span>
              Add payment
              <% end %>
            </div>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="smallbox">
        <div class="center">
          <%= link_to new_customer_invoice_path(@customer), class: "btn btn-primary btn-success" do %>
          <span class="glyphicon glyphicon-plus-sign"></span>
          New Invoice
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>